/ClassCodeSamples
/MyApplication
/MyFirstApp
/Tutorial1
/*Tutoral
/*_scottm
t*.zip
**/.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
**/.DS_Store
**/build
/GoogleMapsAPI_2_Demo
/maps
